@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
.content-box {
  max-width: 1140px;
  min-width: 680px;
  margin: 0 auto; }

body {
  font-family: "Lato", sans-serif; }

/* fix footer to the end of the screen - START */
html,
body {
  height: 100%; }

.container {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1; }

.footer {
  flex: 0;
  background-color: #e6e6e6;
  min-width: 1140px; }

/* fix footer in the end of the screen - END */
/*header - START */
.header {
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  background-color: #ffffff; }

.header .content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%; }

.header-left {
  display: flex;
  align-items: center; }

.logo {
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-decoration: none; }

.logo img {
  margin: 20px 13px 20px 0; }

.logo span {
  color: #f16d7f;
  font-weight: 900; }

.browse {
  width: 90px;
  height: 38px;
  margin-left: 37px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%); }

.browse summary {
  outline: none; }

.browse summary::-webkit-details-marker {
  display: none; }

.browse summary::after {
  content: "▼";
  padding-left: 10px;
  font-size: 10px; }

details[open] > summary::after {
  content: "▲"; }

.browse a {
  text-decoration: none;
  color: #4f4f4f; }

.browse-open {
  display: block;
  position: relative;
  z-index: 10;
  margin-top: 0;
  width: 260px;
  border-radius: 5px;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  text-align: left;
  opacity: 0.96;
  padding-bottom: 5px;
  padding-top: 5px; }

.browse-open span {
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  text-transform: uppercase; }

.browse-open hr {
  background-color: #e8e8e8;
  height: 2px;
  width: 230px;
  border: none;
  margin-top: 0; }

.browse-open ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; }

.serach {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.serach input[type=text] {
  color: #a4a4a4;
  font-size: 13px;
  font-weight: 300;
  width: 300px;
  height: 38px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 0 16px; }

.serach input {
  outline-color: #f16d7f; }

.serach button {
  height: 38px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.search-icon {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 10px 12px;
  outline: none; }

.header-right {
  display: flex;
  align-items: center; }

/* cart */
.number-of-goods {
  position: absolute;
  margin-left: 24px;
  margin-top: -7px;
  width: 23px;
  height: 23px;
  background-color: #f16d7f;
  border-radius: 50%; }

.number-of-goods span {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0; }

.traingle-cart {
  display: none;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  z-index: 11;
  transform: rotate(45deg);
  margin-top: -9px;
  margin-left: 12px; }

.cart-menu details {
  outline: none; }

.cart-menu {
  display: none;
  position: absolute;
  z-index: 4;
  width: 260px;
  margin-left: -20px;
  margin-top: -3px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.16); }

.good-in-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 13px;
  margin-bottom: 13px; }

.good-in-cart-details {
  display: flex; }
  .good-in-cart-details .cart-url img {
    width: 70px; }
  .good-in-cart-details .description {
    padding-left: 10px; }
    .good-in-cart-details .description h5 {
      color: #222222;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase; }
    .good-in-cart-details .description h6 {
      display: block;
      padding-top: 6%;
      font-size: 10px;
      text-transform: uppercase; }
      .good-in-cart-details .description h6 span {
        color: #f16d7f;
        font-size: 12px;
        font-weight: 400;
        padding: 0 5px; }

.cart-good-stars {
  padding-top: 4%;
  color: #e4af48;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

.remove-good-from-cart a {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400; }

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }

.total span {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.cart-buttons a {
  display: block;
  margin: auto;
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  border-radius: 3%;
  background-color: #ffffff;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.4s linear; }

.header-right .my-account-button {
  margin-left: 26px; }

.header-right .my-account-button summary {
  position: relative;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  background-color: #f16d7f;
  padding: 13px 19px;
  letter-spacing: 1px;
  text-decoration: none; }

.my-account-button summary {
  outline: none;
  border-radius: 3%; }

.my-account-button summary::-webkit-details-marker {
  display: none; }

.my-account-button summary::after {
  content: "▼";
  padding-left: 10px;
  font-size: 10px; }

.my-account-open {
  position: absolute;
  z-index: 3;
  background-color: #ffffff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 10px 19px;
  opacity: 0.9;
  color: #c0c0c0;
  font-size: 12px;
  font-weight: 300;
  line-height: 25px; }

.my-account-open a {
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  font-weight: bold; }

.my-account-open hr {
  margin: 10px 0;
  border: 1px solid #e8e8e8; }

/*common-parts-page - hovers-transforms */
.browse summary:hover {
  cursor: pointer;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16); }

.browse summary:active {
  box-shadow: none; }

.browse a:hover {
  color: #f16d7f;
  text-decoration: underline; }

.search-icon:hover {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.16); }

.search-icon:active {
  box-shadow: none; }

.cart:hover .traingle-cart {
  display: block; }

.cart:hover .cart-menu {
  display: block; }

.shake-bottom:hover {
  animation: none;
  -webkit-animation: none; }

.cart-buttons a:hover {
  color: #ffffff;
  background-color: #f16d7f;
  border-color: #f16d7f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16); }

.my-account-button summary:hover {
  cursor: pointer;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16); }

.my-account-button summary:active,
.cart-buttons a:active {
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.16);
  color: #ffffff;
  background-color: #e1e1e1;
  border: none; }

.my-account-open a:hover {
  color: #f16d7f;
  text-decoration: underline; }

/*header - END */
/*navigation - START */
.header-navigation {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0; }

.header-navigation > li {
  position: relative; }

.header-navigation > li > a {
  display: block;
  padding: 19px;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.header-navigation .active-link {
  border-bottom: 3px solid unset;
  padding-bottom: 16px;
  color: #f16d7a; }

.traingle-mega-menu {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  z-index: 10;
  margin-top: -17px;
  margin-left: 30px;
  transform: rotate(45deg);
  display: none;
  /*transition: all 0.5s ease-in */ }

.mega-menu {
  position: absolute;
  display: none;
  z-index: 9;
  margin-top: -10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 0 20px 20px 27px;
  /*transition: all 0.5s linear */ }

.mega-menu h3 {
  min-width: 200px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-right: 30px;
  margin-top: 25px;
  padding-bottom: 5px; }

.mega-menu ul {
  padding: 5px 0; }
  .mega-menu ul li {
    padding-left: 5px; }

.mega-menu:last-child {
  padding-right: 0; }

.mega-menu-special-offer {
  margin-top: 5px;
  position: relative; }

.mega-menu a {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
  letter-spacing: 0.35px;
  text-decoration: none; }

.mega-menu-special-offer span {
  display: block;
  position: absolute;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  margin-top: -70px;
  margin-left: 100px; }

.header-navigation > li > a:hover {
  padding-top: 16px;
  border-top: 3px solid #f16d7a;
  /*border-bottom: 3px solid #f16d7a */
  color: #f16d7a; }

.header-navigation li:hover .mega-menu {
  display: flex;
  transition: all 0.5s linear; }

.header-navigation li:hover .traingle-mega-menu {
  display: block; }

.mega-menu a:hover {
  color: #f16d7a;
  text-underline: #f16d7a; }

/*header-navigation - END */
/*breadcrumbs-block - START */
.breadcrumbs-block {
  background-color: #f8f3f4; }

.breadcrumbs-block .content-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.breadcrumbs-block h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
  padding: 65px 0; }

.breadcrumbs-links {
  color: #636363;
  word-spacing: 10px; }

.breadcrumbs-links a {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none; }

.breadcrumbs-links a:last-child {
  color: #f16d7f;
  font-weight: 700; }

.breadcrumbs-links a:hover {
  text-decoration: underline; }

/*breadcrumbs-block - END */
/*goods-boxes START */
.template-hide {
  display: none; }

.good-box {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
  max-width: 263px;
  transition: all 0.5s linear; }

.good-static {
  position: relative;
  width: 263px;
  height: 281px; }

.good-hover {
  display: none;
  position: absolute;
  margin-top: -285px;
  width: 263px;
  height: 282px;
  background-color: rgba(58, 56, 56, 0.83);
  opacity: 0.3;
  transition: all 0.7s linear; }

.good-to-cart {
  display: none;
  align-items: center;
  justify-content: center;
  height: 281px; }

.good-to-cart img {
  padding-right: 10px; }

.good-to-cart a {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 3%;
  width: fit-content;
  color: #ffffff;
  border: 1px solid #ffffff;
  word-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px 8px 12px;
  transition: background-color 0.3s linear; }

.good-url {
  display: block;
  text-decoration: none;
  min-height: 83px;
  max-height: 183px; }

.good-description-link h2 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 15px; }

.good-description-link h3 {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  padding-left: 15px;
  padding-bottom: 10px; }

.good-box:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16); }

.good-box:hover .good-hover {
  display: block; }

.good-hover:hover {
  opacity: 1; }

.good-to-cart a:hover {
  background-color: #f16d7f; }

/*goods-boxes END */
/*comments-subscribe - START */
.comments-subscribe {
  max-width: 1600px;
  min-width: 1140px;
  height: 380px;
  background: url(../images/layer-41.png) center no-repeat;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/Layer-41.png);
  margin: 0 auto; }

.comments-subscribe-box {
  display: flex;
  position: relative; }

#comments-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  height: 380px; }

.comments {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  height: 380px;
  border-right: 1px solid #e1e1e1; }

.comments-img {
  margin-left: 10px;
  margin-top: -50px; }

.comments-txt {
  margin: 0 5%; }

.comments-txt p {
  color: rgba(34, 34, 36, 0.67);
  font-size: 16px;
  font-style: italic;
  line-height: 26px; }

.comments-txt h5 {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700; }

.comments-txt h6 {
  color: #222224;
  font-size: 12px;
  font-weight: 300; }

.slider-nav {
  margin-top: 40px; }

.slider-nav span {
  display: inline-block;
  width: 38px;
  border-bottom: 4px solid #d6d6d6;
  margin-right: 13px; }

.slider-nav span:hover {
  cursor: pointer; }

.subcscribe {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }

.subcscribe h2 {
  color: rgba(34, 34, 36, 0.67);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px; }

.subcscribe h3 {
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 35px; }

.subscribe input[type=email] {
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  font-weight: 400;
  padding: 18px 28px;
  width: 250px;
  border: 0;
  border-bottom-left-radius: 23px;
  border-top-left-radius: 23px;
  background-color: #e1e1e1;
  outline: none; }

.subscribe button {
  background-color: #f16d7f;
  border: none;
  border-bottom-right-radius: 23px;
  border-top-right-radius: 23px;
  font-size: 14px;
  font-weight: 400;
  padding: 18px 28px;
  margin-left: -3px;
  color: #ffffff;
  outline: none; }

.subscribe button:hover {
  box-shadow: 1px 0 1px 1px grey; }

.subscribe button:active {
  box-shadow: 2px 0 2px 2px grey;
  background-color: #e1e1e1;
  transition: color 0.3s linear; }

.subscribe button a {
  text-decoration: none;
  color: #ffffff; }

/*comments-subscribe - END */
/*footer - first part - START */
.footer-navigation {
  margin-top: 100px;
  margin-bottom: 70px; }

.footer-navigation .logo img {
  margin: 0; }

.footer-navigation .content-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.about-brand {
  flex: 2; }

.company {
  flex: 1;
  margin-left: 80px; }

.information {
  flex: 1;
  margin-left: 20px; }

.shop-category {
  flex: 1;
  margin-left: 30px; }

.footer-navigation h2 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 30px; }

.about-brand .logo {
  color: #3d3d40;
  margin-bottom: 25px; }

.about-brand .logo img {
  margin-right: 13px; }

.about-brand p {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px; }

.company a,
.information a,
.shop-category a {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px; }

.company a:hover,
.information a:hover,
.shop-category a:hover {
  color: #f16d7f;
  text-decoration: underline; }

/*footer - first part - END */
/*footer - second part - START */
.footer-down {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.rights-reserved {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  margin: 30px 0;
  word-spacing: 3px; }

.social-links {
  display: flex; }

.social-links a {
  display: block;
  color: #b2b2b2;
  font-size: 16px;
  background-color: #ffffff;
  margin-left: 8px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  transition: background-color 0.2s linear, color 0.4s linear; }

.social-links a:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  border-color: #f16d7f; }

.social-links a:active {
  background-color: #b2b2b2;
  color: #f7f7f8;
  text-align: center;
  vertical-align: middle; }

/*footer - all parts - FINISH */
.hide-element {
  display: none; }

/*main-poster - START */
.main-poster {
  background-color: #e8e8e8;
  height: 614px; }

.main-poster .content-box {
  display: flex;
  align-items: center;
  height: 100%;
  background: url(../images/main-poster.jpg) -240px -50px; }

.main-poster-text {
  margin-top: -80px;
  padding-left: 12px;
  border-left: 12px solid #f16d7f; }

.main-poster-text h2 {
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  line-height: 46px;
  margin-bottom: 12px; }

.main-poster-text h3 {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  line-height: 35px; }

.main-poster-text span {
  color: #f16d7f;
  transform: scaleY(1.0009); }

/*main-poster - END */
/*main-promo-goods - START */
.main-promo-goods {
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.main-promo-goods a {
  display: block;
  text-decoration: none; }

.promo-goods-text {
  width: 35%;
  background-color: #ffffff;
  padding: 15px 20px; }

.main-promo-goods h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase; }

.main-promo-goods h2 {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase; }

.left-big-img,
.right-big-img {
  width: 560px;
  height: 515px;
  padding-top: 26px;
  margin-bottom: 20px;
  margin-right: 20px; }

.left-small-img,
.right-small-img {
  width: 560px;
  height: 235px;
  padding-top: 26px;
  margin-bottom: 20px;
  margin-right: 20px; }

.left-big-img {
  background-image: url(../images/promo-left-big.jpg);
  margin-bottom: 20px;
  margin-right: 20px; }

.right-big-img {
  background-image: url(../images/promo-right-big.jpg); }

.left-small-img {
  background-image: url(../images/promo-left-small.jpg); }

.right-small-img {
  background-image: url(../images/promo-right-small.jpg);
  margin-bottom: 20px; }

/*main-promo-goods - END */
/*main-goods - START */
.main-goods {
  margin: 0 auto; }

.main-goods h4 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 8px; }

.main-goods h5 {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 58px; }

.main-goods-catalog {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }

a.browse-all-prod-button {
  display: block;
  width: fit-content;
  border: 1px solid #eaeaea;
  text-decoration: none;
  border-radius: 3%;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #4a4a4a;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 16px 21px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 113px;
  transition: background-color 0.3s linear, border-color 0.3s linear, color 0.3s linear; }

a.browse-all-prod-button:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  color: #ffffff;
  background-color: #f16d7f;
  border-color: #f16d7f; }

a.browse-all-prod-button:active {
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #e1e1e1;
  border-color: #e1e1e1; }

/*main-goods - END */
/*main-special-offer - START */
section.main-spacial-offer {
  margin-bottom: 97px;
  height: 529px;
  min-width: 1140px; }

section.main-spacial-offer a {
  text-decoration: none; }

.main-spacial-offer {
  display: flex; }

.special-offer-left {
  display: block;
  width: 767px;
  height: 529px;
  background: url(../images/special-offer-img.jpg) center no-repeat; }

.special-offer-left h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  padding: 120px 40px 10px 40px; }

.special-offer-left h2 span {
  color: #f16d7f; }

.special-offer-left h4 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  padding-left: 40px; }

.special-offer-right {
  width: 373px;
  background-color: #222224; }

.conditions {
  display: flex; }

.conditions h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700; }

.conditions p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px; }

.conditions-img {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px; }

.conditions-txt {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 20px; }

/*main-special-offer - END */
/* product-catalog page START */
.prod-catalog .content-box {
  display: flex;
  margin-top: 59px; }

.left-part {
  flex: 1;
  margin-right: 45px; }

.right-part {
  flex: 3; }

.sort-products summary::-webkit-details-marker {
  display: none; }

.sort-products summary {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 6px 14px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
  margin-bottom: 10px;
  outline: none; }

.sort-products summary:hover {
  color: #ef5b70; }

.sort-products summary::after {
  content: "▼";
  float: right;
  font-size: 10px; }

details[open] > summary::after {
  content: "▲"; }

.sort-products-opened {
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: -25px; }

.sort-products-opened a {
  text-decoration: none;
  color: #6f6e6e; }

.sort-products-opened ul {
  padding-bottom: 25px; }

.right-part .product-options {
  display: flex;
  justify-content: space-between;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

.trending-option,
.size-option,
.price-option {
  flex: 1; }

.trending-option h3,
.size-option h3,
.price-option h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

.trending-option,
.size-option {
  margin-right: 40px; }

.trending-option-value {
  margin-top: 25px; }

.trending-option-value a {
  text-decoration: none;
  color: #6f6e6e; }

.trending-option-value span {
  color: #dfdfdf;
  padding-left: 10px;
  padding-right: 10px; }

.size-option form {
  margin-top: 25px; }

.size-option label {
  padding-right: 15px; }

.size-option span {
  display: inline-block;
  width: 25px;
  padding-right: 5px; }

.size-option input[type=checkbox] {
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 13px;
  height: 13px; }

.price-option hr {
  margin-top: 25px;
  width: 260px;
  background-color: #e8e8e8;
  height: 6px;
  border: none;
  border-radius: 3px; }

.price-scale {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }

.left-sort-products {
  margin-top: 40px;
  background-color: #f3f3f3; }

.left-sort-products form {
  padding: 10px;
  box-sizing: border-box; }

.left-sort-products input {
  outline-color: #f16d7f; }

.left-sort-products label,
.left-sort-products input {
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 9px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400; }

.left-sort-products .sort-by-year {
  width: 50px; }

.product-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px; }

.product-catalog .good-box {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 40px;
  max-width: 263px; }

.product-catalog-bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.product-catalog-bottom-nav .pagination {
  border-radius: 3px;
  border: 1px solid #ebebeb;
  padding: 16px; }

.product-catalog-bottom-nav .pagination a,
.product-catalog-bottom-nav .pagination span {
  margin: 0 7px;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none; }

a.button-view-all {
  display: block;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  padding: 15px 46px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ef5b70;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.4s linear; }

.special-offer-short {
  background-color: #222224;
  margin-top: 110px; }

.special-offer-short .content-box {
  display: flex;
  justify-content: space-between; }

.conditions-short {
  margin-top: 89px;
  margin-bottom: 114px;
  color: #fbfbfb;
  flex: 1; }

.conditions-short-img {
  margin: 0 auto;
  width: 45px;
  height: 45px; }

.conditions-short h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center; }

.conditions-short p {
  font-size: 14px;
  font-weight: 300;
  text-align: center; }

/* product-catalog page hovers-trsnsforms */
.sort-products-opened a:hover,
.trending-option-value a:hover {
  text-decoration: underline;
  color: #ef5b70; }

.product-catalog-bottom-nav .pagination a:hover {
  color: #ef5b70; }

a.button-view-all:hover {
  background-color: #ef5b70;
  color: #ffffff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16); }

a.button-view-all:active {
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.16);
  color: #ffffff;
  background-color: #e1e1e1;
  border-color: #e1e1e1; }

/* product-catalog page END */
/*single-good-page - START */
.single-good-slider {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7; }

.single-good-slider img {
  display: block;
  padding-top: 11px;
  margin: auto;
  padding-bottom: 40px; }

.single-good-description .content-box {
  border: 1px solid #eaeaea;
  background-color: #ffffff; }

.single-good-description .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -80px; }

.single-good-description h2 {
  padding-top: 60px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.single-good-description h3 {
  padding-top: 16px;
  padding-bottom: 40px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase; }

.single-good-description p {
  padding: 0 260px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center; }

.content-box .material-designer-box {
  display: flex;
  width: 100%;
  justify-content: center; }

.single-good-description h4 {
  padding: 15px 22px;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.single-good-description span {
  color: #b9b9b9; }

.single-good-description h5 {
  margin-top: 10px;
  margin-bottom: 35px;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700; }

.single-good-description hr {
  width: 642px;
  border: 1px solid #eaeaea; }

.single-good-description form {
  margin-top: 50px;
  display: flex;
  justify-content: center; }

.single-good-description form label {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px; }

.single-good-description form input {
  margin-top: 16px;
  padding: 5px 10px;
  font-size: 14px;
  color: #b9b9b9;
  width: 140px;
  border: 1px solid #eaeaea;
  outline-color: #f16d7f; }

.add-to-cart-button {
  margin-top: 28px;
  margin-bottom: 122px;
  width: 50%;
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  box-sizing: border-box; }

.add-to-cart-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.4s linear; }

.add-to-cart-button img {
  display: block;
  padding-right: 10px; }

/*goods-you-may-like part START */
.goods-you-may-like {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.you-may-like-also {
  margin-top: 110px;
  margin-bottom: 30px; }

.you-may-like-also h4 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px; }

/*single-good-page - hovers-transforms */
.add-to-cart-button:hover a {
  background-color: #f16d7f;
  border-color: #f16d7f;
  color: #ffffff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16); }

.add-to-cart-button:active a {
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.16);
  background-color: #e1e1e1;
  border-color: #e1e1e1; }

/*single-good-page - END */
/* shopping-cart page START */
.cart-part {
  margin-top: 90px;
  margin-bottom: 80px; }

.cart-part hr {
  background-color: #e8e8e8;
  height: 1px;
  border: none; }

.goods-in-cart {
  display: flex;
  justify-content: space-between; }

.goods-in-cart h2 {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  text-align: center; }

.goods-details {
  flex: 4; }

.cart-columns {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.goods-details {
  display: flex; }

.img-block {
  margin-top: 20px;
  margin-bottom: 20px; }

.text-block {
  margin-top: 30px;
  margin-left: 20px; }

.goods-details .text-block h3 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px; }

.goods-details .text-block h6 {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px; }

.goods-details .text-block h6 span {
  color: #575757;
  font-weight: 200; }

.cart-columns h4 {
  color: #656565;
  font-size: 13px;
  font-weight: 600; }

.cart-columns input {
  width: 70px;
  height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  outline-color: #f16d7f; }

.cart-columns h5 {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase; }

.cart-part-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px; }

.cart-part-buttons a {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 39px 18px 39px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 3%;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.4s linear; }

.cart-to-checkout {
  display: flex;
  margin-top: 63px;
  margin-bottom: 70px; }

.cart-steps-to-checkout {
  flex: 1;
  margin-right: 35px; }

.cart-steps-to-checkout:last-child {
  background-color: #f5f3f3;
  margin-right: 0;
  padding: 43px;
  text-align: right; }

.cart-steps-to-checkout h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 22px; }

.cart-steps-to-checkout p {
  color: #000000;
  font-size: 14px;
  font-weight: 300; }

.cart-steps-to-checkout a {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 15px;
  border: 1px solid #eaeaea;
  border-radius: 3%;
  background-color: #ffffff;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.4s linear; }

.cart-steps-to-checkout input {
  width: 80%;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding: 12px 18px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline-color: #f16d7f;
  margin-bottom: 20px; }

.cart-steps-to-checkout h6 {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase; }

.cart-steps-to-checkout h6 span {
  font-weight: 600;
  padding-left: 10px; }

.cart-steps-to-checkout h3 span {
  color: #f16d7f;
  padding-left: 10px; }

a.proceed-to-checkout {
  width: 90%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f16d7f;
  text-align: center;
  border-radius: 3%;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.4s linear; }

/*shopping-cart page hovers-transforms */
.remove-good-from-cart a:hover {
  color: #f16d7f; }

.cart-part-buttons a:hover,
.cart-steps-to-checkout a:hover {
  color: #ffffff;
  background-color: #f16d7f;
  border-color: #f16d7f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16); }

.cart-part-buttons a:active,
.cart-steps-to-checkout a:active {
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.16);
  color: #ffffff;
  background-color: #e1e1e1;
  border-color: #e1e1e1; }

a.proceed-to-checkout:hover {
  color: #f16d7f;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16); }

a.proceed-to-checkout:active {
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.16);
  color: #ffffff;
  background-color: #e1e1e1;
  border-color: #e1e1e1; }

/* shopping-cart page END */
/*checkout-page - START */
.checkout-page {
  margin-top: 85px;
  margin-bottom: 90px; }

.checkout-steps h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 25px 0; }

.checkout-steps h2 span {
  padding-right: 10px; }

.checkout-steps hr {
  background-color: #e8e8e8;
  height: 1px;
  border: none; }

.checkout-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 35px; }

.no-registration {
  flex: 1; }

.registered {
  flex: 1; }

.checkout-details h3 {
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase; }

.checkout-details p {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; }

.no-registration form {
  margin: 30px 0; }

.no-registration label {
  display: block;
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px; }

.no-registration input {
  float: left;
  margin-right: 15px; }

a.checkout-buttons {
  display: block; }

a.checkout-buttons,
.checkout-buttons {
  margin-top: 30px; }

button.checkout-buttons,
a.checkout-buttons {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 17px 54px;
  width: fit-content;
  border-radius: 3%;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.4s linear; }

.registered label {
  display: block;
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.registered label span {
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 400; }

.registered input {
  width: 70%;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 15px 20px;
  outline-color: #f16d7f; }

.registered h6 {
  margin-top: 20px;
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px; }

a.ForgotPassword {
  margin-left: 32px;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 400; }

/*single-good-page - hovers-transforms */
.no-registration a:hover,
a.ForgotPassword:hover {
  text-decoration: underline;
  color: #f16d7f; }

button.checkout-buttons:hover,
a.checkout-buttons:hover {
  color: #ffffff;
  background-color: #f16d7f;
  border-color: #f16d7f;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  text-decoration: none;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.4s linear; }

button.checkout-buttons:active,
a.checkout-buttons:active {
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.16);
  color: #ffffff;
  background-color: #e1e1e1;
  border-color: #e1e1e1; }

/*checkout-page - END */
/*animation shake-bottom */
.shake-bottom {
  -webkit-animation: shake-bottom 4s ease-in-out 5s infinite forwards;
  animation: shake-bottom 4s ease-in-out 5s infinite forwards; }

@-webkit-keyframes shake-bottom {
  0%,
50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  5% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  10%,
20%,
30% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  15%,
25%,
35% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  40% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  45% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }
@keyframes shake-bottom {
  0%,
50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  5% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  10%,
20%,
30% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  15%,
25%,
35% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  40% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  45% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }
/*shadow drop */
.good-in-cart-details:hover a.shadow-drop-2-center,
.goods-details:hover .shadow-drop-2-center {
  -webkit-animation: shadow-drop-2-center 0.4s linear both;
  animation: shadow-drop-2-center 0.4s linear both; }

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35); } }
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35); } }
/*main-poster-animation */
.slide-right {
  -webkit-animation: slide-right 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-right 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(120px);
    transform: translateX(120px); } }
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(120px);
    transform: translateX(120px); } }
/*mega-menu-special-offer-animation img-appear */
.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 2s 0.2s both;
  animation: slide-in-fwd-center 2s 0.2s both; }

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0.8; } }
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0.8; } }
/*mega-menu-special-offer-animation - heart-beat-text */
.mega-menu-special-offer:hover .heartbeat {
  -webkit-animation: heartbeat 2s ease-in-out 0.1s 3 both;
  animation: heartbeat 2s ease-in-out 0.1s 3 both; }

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #f16d7f; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #e1e1e1; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #f16d7f; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #e1e1e1; } }
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #f16d7f; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #e1e1e1; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #f16d7f; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #e1e1e1; } }
/*main-promo-goods-effects */
.left-small-img,
.right-small-img,
.left-big-img,
.right-big-img {
  position: relative; }

.left-small-img:before, .left-small-img:after,
.right-small-img:before, .right-small-img:after,
.left-big-img:before, .left-big-img:after,
.right-big-img:before, .right-big-img:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg); }

.left-small-img:after,
.right-small-img:after,
.left-big-img:after,
.right-big-img:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto; }

.left-small-img:hover .promo-goods-text,
.right-small-img:hover .promo-goods-text,
.left-big-img:hover .promo-goods-text,
.right-big-img:hover .promo-goods-text {
  -webkit-animation: promo-goods-text 0.9s 5 both;
  animation: promo-goods-text 0.9s 5 both; }

@-webkit-keyframes promo-goods-text {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }
@keyframes promo-goods-text {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }
/* good-to-cart-animation */
.good-hover:hover .good-to-cart {
  display: flex;
  animation-delay: 2s;
  -webkit-animation: good-to-cart 1.6s both;
  animation: good-to-cart 1.6s both; }

@-webkit-keyframes good-to-cart {
  0% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
55%,
75%,
87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }
@keyframes good-to-cart {
  0% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
55%,
75%,
87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }
/*main-special-offer */
.special-offer-left:hover .text-shadow-drop-left {
  -webkit-animation: text-shadow-drop-left 0.6s both;
  animation: text-shadow-drop-left 0.6s both; }

@-webkit-keyframes text-shadow-drop-left {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    text-shadow: -6px 0 18px rgba(250, 245, 250, 0.68); } }
@keyframes text-shadow-drop-left {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    text-shadow: -6px 0 18px rgba(250, 245, 250, 0.68); } }

/*# sourceMappingURL=style-main.css.map */
